<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Study">

    <resultMap id="studyResultMap" type="studyVO">
        <result property="studyId" column="" />
        <result property="userId" column="user_id" />
        <result property="studyId" column="study_Id" />
        <result property="studyName" column="study_name" />
        <result property="studyPassword" column="study_password" />
        <result property="studyStart" column="study_start" />
        <result property="studyEnd" column="study_end" />
    </resultMap>

    <resultMap id="daysResultMap" type="remainingDaysDTO">
        <result property="studyId" column="" />
        <result property="remainingDays" column="remaining_days" />
        <result property="elapsedDays" column="elapsed_days" />
    </resultMap>

    <resultMap id="rankResultMap" type="rankDTO">
        <result property="rank" column="rank" />
        <result property="userName" column="user_name" />
        <result property="solvedProblem" column="user_solvedproblem" />
    </resultMap>

    <insert id="create" parameterType="studyVO">
        INSERT INTO STUDY (
            study_Id,
            study_name,
            study_password,
            study_start,
            study_end)
        VALUES (#{studyId}, #{studyName}, #{studyPassword}, #{studyStart}, #{studyEnd})
    </insert>

    <select id="studyList" resultMap="studyResultMap">
        select *
          from STUDY
         where study_Id = #{stduyCode}
    </select>

    <select id="totalMembers" resultType="_int">
        SELECT COUNT(*)
        FROM STUDY
        WHERE study_Id = #{stduyCode}
    </select>

    <select id="studyDays" resultMap="daysResultMap">
        SELECT
            ,
            GREATEST(0, CURRENT_DATE - study_start) AS elapsed_days,
            CASE
                WHEN CURRENT_DATE &lt; study_start THEN study_start - CURRENT_DATE
                WHEN study_end IS NOT NULL AND CURRENT_DATE &gt; study_end THEN 0
                ELSE study_end - CURRENT_DATE
                END AS remaining_days
        FROM STUDY
        WHERE study_Id = #{studyId}
    </select>

    <select id="totalrank" resultMap="rankResultMap">
        SELECT
            user_Id,
            user_Name,
            user_solvedproblem,
            study.study_Id,
            RANK() OVER (ORDER BY user_solvedproblem DESC) AS rank
        FROM USERS JOIN study on study. = USERS.
        WHERE study_Id = #{studyId}
    </select>

    <select id="getStartMonth" resultType="java.lang.String">
        SELECT STUDY_START from study where study_Id = #{studyId}
    </select>

    <select id="getStudyMemberByMonth" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT u.name
        FROM USERS u
                 JOIN STUDY s ON u.id = s.id
        WHERE s.study_Id = #{study_Id}
          AND #{study_start} BETWEEN TO_CHAR(s.study_start, 'YYYY-MM') AND TO_CHAR(study.study_end, 'YYYY-MM')
    </select>

    <select id="getStudyMemberIdByMonth" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT u.id
        FROM USERS u
                 JOIN STUDY s ON u.id = s.id
        WHERE s.study_Id = #{studyId}
          AND #{study_start} BETWEEN TO_CHAR(s.study_start, 'YYYY-MM') AND TO_CHAR(s.study_end, 'YYYY-MM')
    </select>

    <select id="checkstudyIdPassword" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM study
        WHERE study_Id = #{study_Id}
          AND study_password = #{study_password}
    </select>

</mapper>
