<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
    <insert id="signup" parameterType="userVO">
        INSERT INTO USERS(user_id,
                          user_number,
                          user_name,
                          user_googleid,
                          user_email,
                          user_participant,
                          user_leader,
                          user_solved_problem)
        VALUES (#{userId},nextval('user_number_seq'), #{userName}, #{userGoogleId}, #{userEmail}, #{userParticipant}, #{userLeader}, #{userSolvedProblem})
    </insert>

</mapper>
